html,
body {
  margin: 0;
  height: 100%;
}

.headerContainer {
  padding: 0px 20px;
  background-color: antiquewhite;
}

.buttonContainer {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.addBookButton {
  width: 200px;
  height: 60px;
}

#bookContainer {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.book {
  padding: 10px 10px;
  background-color: rgb(187, 253, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bookInfoHolder > div {
  margin-top: 5px;
}

.bookInfoHolder > div:first-child {
  font-weight: bold;
}

#addBookDialog {
  width: 300px;
}

svg {
  width: 25px;
  height: 25px;
}

.bookButtonHolder {
  display: flex;
  justify-content: space-between;
}

.bookButtonHolder > button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookButtonHolder > button:hover {
  background-color: rgba(255, 255, 255, 0.507);
}

.formDivider {
  display: flex;
  justify-content: space-between;
}
